<!--<table *ngFor="let board of boards">-->
  <!--<tr>-->
    <!--&lt;!&ndash;<td>{{board}}</td>&ndash;&gt;-->
    <!--<td>{{board.name}}</td>-->
    <!--<td>{{board.id}}</td>-->
  <!--</tr>-->
<!--</table>-->
<div class="row">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Board</label>
    </div>
    <select class="custom-select" id="inputGroupSelect01" (change)="setBoard($event)">
      <option *ngFor="let board of boards" [value]="board.id">{{board.name}}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <input class="btn btn-primary" type="submit" (click)="writeToFile()" value="Write To File">
  </div>
</div>

